<section class="py-7 py-md-9">
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <!-- Divider -->
                <hr class="hr-sm bg-primary">

                <!-- Text -->
                <p class="fs-lg lh-lg text-black mb-5 mb-md-0">
                    Take a coffee break or enjoy a meal.
                </p>

            </div>
            <div class="col-md-4">

                <!-- Media -->
                <div class="media-decoration media-decoration-1 mb-5 mb-md-0">

                    <!-- Border -->
                    <div class="media-decoration-border" data-jarallax-element="-40" style="transform: translate3d(0px, -40px, 0px);">
                        <div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;">
                            <div style="pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; position: fixed;"></div>
                        </div>
                    </div>

                    <!-- Image -->
                    <img class="media-decoration-img img-fluid" src="../../../assets/img/2.jpg" alt="...">

                </div>

            </div>
            <div class="col-md-5 align-self-center mx-auto">

                <!-- Heading -->
                <h2 class="mb-2">
                    <em>Always</em> amazing experience
                </h2>

                <!-- Text -->
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
                </p>

            </div>
        </div>
    </div>
</section>
