<section class="py-7 py-md-9">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 text-center">

                <!-- Heading -->
                <h2 class="mb-2">
                    Take a sneak peek
                </h2>

                <!-- Subheading -->
                <p class="mb-6">
                    Asperiores temporibus fuga possimus labore ex porro pariatur sed, nisi dolor, nobis architecto. Placeat facilis voluptas alias ducimus.
                </p>

            </div>
        </div>
        <div class="row gx-3">
            <div class="col-6 col-sm-6 col-md-4">

                <!-- Item -->
                <a class="d-block mb-3" href="#">
                    <img class="img-fluid" src="assets/img/11.jpg" alt="...">
                </a>

            </div>

            <div class="col-6 col-sm-6 col-md-4">

                <!-- Item -->
                <a class="d-block mb-3" href="#">
                    <img class="img-fluid" src="assets/img/12.jpg" alt="...">
                </a>

            </div>
            <div class="col-6 col-sm-6 col-md-4">

                <!-- Item -->
                <a class="d-block mb-3" href="#">
                    <img class="img-fluid" src="assets/img/13.jpg" alt="...">
                </a>

            </div>
            <div class="col-6 col-sm-6 col-md-4">

                <!-- Item -->
                <a class="d-block mb-3" href="#">
                    <img class="img-fluid" src="assets/img/14.jpg" alt="...">
                </a>

            </div>
            <div class="col-6 col-sm-6 col-md-4">

                <!-- Item -->
                <a class="d-block mb-3" href="#">
                    <img class="img-fluid" src="assets/img/15.jpg" alt="...">
                </a>

            </div>
            <div class="col-6 col-sm-6 col-md-4">

                <!-- Item -->
                <a class="d-block mb-3" href="#">
                    <img class="img-fluid" src="assets/img/17.jpg" alt="...">
                </a>

            </div>
        </div>
    </div>
</section>
