<section class="py-7 py-md-9 overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 text-center">

                <!-- Heading -->
                <h2 class="mb-2">
                    Our <em>Top</em> dishes
                </h2>

                <!-- Subheading -->
                <p class="mb-6">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam aliquam id sint accusamus eius voluptatum explicabo quae similique, quas.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0">

                    <!-- Image -->
                    <img class="card-img-top" src="assets/img/26.jpg" alt="...">

                    <!-- Body -->
                    <div class="card-body">

                        <!-- Heading -->
                        <div class="row mb-2">
                            <div class="col">
                                <h5 class="mb-0">Lorem ipsum dolor sit amet consectetur</h5>
                            </div>
                            <div class="col-auto">
                                <span class="fs-4 font-serif text-black">E 15</span>
                            </div>
                        </div>

                        <!-- Text -->
                        <p class="mb-0">
                            In perspiciatis nisi dicta, aperiam magnam eaque laborum iste.
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0">

                    <!-- Image -->
                    <img class="card-img-top" src="assets/img/28.jpg" alt="...">

                    <!-- Body -->
                    <div class="card-body">

                        <!-- Heading -->
                        <div class="row mb-2">
                            <div class="col">
                                <h5 class="mb-0">Lorem ipsum dolor sit amet consectetur</h5>
                            </div>
                            <div class="col-auto">
                                <span class="fs-4 font-serif text-black">E 15</span>
                            </div>
                        </div>

                        <!-- Text -->
                        <p class="mb-0">
                            In perspiciatis nisi dicta, aperiam magnam eaque laborum iste.
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0">

                    <!-- Image -->
                    <img class="card-img-top" src="assets/img/27.jpg" alt="...">

                    <!-- Body -->
                    <div class="card-body">

                        <!-- Heading -->
                        <div class="row mb-2">
                            <div class="col">
                                <h5 class="mb-0">Lorem ipsum dolor sit amet consectetur</h5>
                            </div>
                            <div class="col-auto">
                                <span class="fs-4 font-serif text-black">E 15</span>
                            </div>
                        </div>

                        <!-- Text -->
                        <p class="mb-0">
                            In perspiciatis nisi dicta, aperiam magnam eaque laborum iste.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
