<section class="py-7 py-md-9">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 text-center">

                <!-- Heading -->
                <h2 class="mb-2">
                    Behind the scenes
                </h2>

                <!-- Subheading -->
                <p class="mb-6">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia obcaecati sit odio velit culpa aspernatur consectetur natus quidem minima veritatis.
                </p>

            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 order-md-2">

                <!-- Image -->
                <img class="img-fluid mw-md-120 clip-top-start" src="../../../assets/img/24.jpg" alt="...">

            </div>
            <div class="col-md-5 order-md-1">

                <!-- Text -->
                <p class="lead text-black">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sequi ratione, accusamus quo mollitia architecto, explicabo obcaecati.
                </p>

                <!-- Text -->
                <p class="mb-6">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum enim saepe aperiam eius, quam blanditiis necessitatibus dolorem dignissimos pariatur quas velit nihil tempora, libero unde molestiae! Illum, inventore. Iusto, autem!
                </p>

                <!-- Text -->
                <p class="mb-md-0">
                    <a class="btn btn-outline-primary" [routerLink]="['/contact']">
            Contact Us
          </a>
                </p>

            </div>
        </div>
    </div>
</section>
